.voltar {
  font-size: 1.4rem;
  text-decoration: underline;
  text-align: left;
  width: 90%;
  border-radius: 15px;
  background-color: #29056b;
  border: none;
  cursor: pointer;
  color: #ece9e8;
  transition: all 0.2s ease-in;
}

header.titles-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.welcome-title {
  margin: 0;
  color: #ece9e8;;
  font-size: 2.8rem;
  font-weight: 300;
}

.title {
  color: #4b8ce0;
  font-size: 2rem;
  margin: 0;
}

section.login-container2 {
  align-items: center;
  display: flex;
  margin: 0 auto;
  width: 441px;
  height: 50px;
  flex-direction: column;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input {
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background: none;
  height: 30px;
  border-bottom: 3px solid #4b8ce0;
  font-size: 1.5rem;
  font-family: 'Abel', sans-serif;
  outline: none;
  color: #000;
}

::placeholder {
  color: #004071;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #004071;
}

.button-container2 {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.button-login {
  font-family: 'Abel', sans-serif;
  width: 320px;
  height: 65px;
  border-radius: 25px;
  background-color: #F05D23;
  color: #fff;
  border: none;
  font-size: 1.8rem;
}
