.container-homepage {
    width: 100%;
    height: 100vh;
    /* background-color: #4307b2; */
    background: linear-gradient(to top, #3f06a9, #6438b5);
    position: relative;
}

/* CSS do WELCOME */
.home-welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Abel', sans-serif;
    color: #4B8CE0;
    font-size: 1.5em;
    margin: 0;
    padding-top: 175px;
}

.home-welcome .text{
    margin: 0;
}

#text2{
    color: rgba(255, 255, 255, 0.771);
    font-weight: 100;
    font-size: 1.1sem;
}

.logo-icon{
    position: absolute;
    transform: scale(.8);
    margin-left: -5%;
    width: 60%;
    height: 45%;
}


/* CSS do HOME CARDS */

.home-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

/* Daqui pra frente, CSS do botão perfil */

.item{
    display: flex;
    justify-content: center;
    margin-inline: 50px;
    cursor: default;
}

.item-topic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 350px;
    width: 350px;
    border-radius: 15px;
    background-color: rgb(186, 186, 186);
    font-family: 'Abel', sans-serif;
    color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.274);
    transition-duration: .15s;
    cursor: default;
}

.item-topic:hover{
    background-color: #63D2FF;
    transform: scale(0.95);
    cursor: default;
}

.avatar {
    filter: invert(100%);
    cursor: default;
}

.avatar-icon{
    border-radius: 100%;
}

.alterar-imagem{
    margin-bottom: 15px;
    font-family: 'Abel', sans-serif;
    width: 35%;
    height: 35px;
    border-radius: 10px;
    background-color: #4b8ce0;
    color: #ece9e8;
    border: none;
    font-size: 1.2rem;
    cursor: pointer; 
}
.enviar-imagem{
    margin-top: 10px;
    font-family: 'Abel', sans-serif;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    background-color: #4b8ce0;
    color: #ece9e8;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;    
}

.image-url{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.holerite {
    filter: invert(100%);
    cursor: default;
}

.profile-modal{
    font-family: 'Abel', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
}

.profile-text{
    padding-inline: 150px;
    white-space: nowrap;
}


/* --------------------------------------- */
/* CSS do Modal Holerite */
/* --------------------------------------- */

.holerite-modal{
    font-family: 'Abel',sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date-selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.month-selector{
    font-family: 'Abel',sans-serif;
    font-size: 1.5rem;
    border: none;
    border-bottom: 3px solid #4b8ce0;
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

.enviar-holerite-search{
    margin-top: 15%;
    font-family: 'Abel', sans-serif;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    background-color: #4b8ce0;
    color: #ece9e8;
    border: none;
    font-size: 1.2rem;
    margin-bottom: 25%;
    cursor: pointer;
}

.enviar-holerite-search:hover {
    transform: scale(1.05);
    background-color: #3f76bd;
}

.holerite-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:1.3rem;
    margin-bottom: 5%;
}

.holerite-title{
    color: #3f76bd;
}

.holerite-text #title{
    font-weight: bold;
    font-size: 1.5rem;
}

.year-input{
    text-align: center;
    color: black;
}

.year-input::placeholder{
    color: black;
    font-size: 1.3rem;
}

.holerite-buttons{
    width: 175%;
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.total{
    color: #4B8CE0;
}

.create-holerite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Abel',sans-serif;
    text-align: center;
    margin-top: 50px;
}

input::placeholder{
    color: rgba(0, 0, 0, 0.688);
    text-align: center;
}

.create-input{
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 15px;
    text-align: center;
}

.insert-button{
    margin-top: 10%;
    font-family: 'Abel', sans-serif;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    background-color: #4b8ce0;
    color: #ece9e8;
    border: none;
    font-size: 1.2rem;
    margin-bottom: 25%;
    cursor: pointer;  
}
.insert-button-pos{
    display: flex;
    justify-content: center;
}

.insert-title{
    color: #4b8ce0;
    margin-top: 10px;
}

.insert-data-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}



.close-create{
    display: flex;
    justify-content: end;
}

/* Layout shit */


.layout-circles{
    position: absolute;
    width: 300px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 100%;
    margin-top: 50vh;
    margin-left: -20vh;
}

/* QUIT */
.quit-icon{
    top: 5vh;
    right: 5vh;
    position: absolute;
    filter: invert(100%);
    transform: scale(2.0);
    transition-duration: .15s;
}

.quit-icon:hover{
    transform: scale(1.8);
}